body, html, #root {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

div { 
    border-radius: 4px;
    padding: 16px;
}
.container{
    position: relative;
    height: 80%;
    width: 100%;
    padding: 0px;
}

.inputContainer{
    top: 50%;
    left: 50%;
    transform: translate(8px,-100%);
    width: 400px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
}

.containerAutomato{
    position: absolute;
    height: 250px;
    min-width: 200px;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%,16px);
    overflow-Y: scroll;
}

.resultContainer{
    height: 20px;
    margin-top: 16px;
}

.resultContainer p{
    margin: 0px;
}

.fileContainer{
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 8px),-100%);
    width: 400px;
    height: 200px;
    position: relative;
    border: 1px solid black;
}
